body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  background-color: #1a1a1a;
  color: #eee;
}

#sidebar {
  width: 250px;
  background-color: #2c2c2c;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
  border-right: 1px solid #444;
}

#search-container {
  display: flex;
  margin-bottom: 10px;
}

#search-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #eee;
}

#search-btn {
  padding: 5px 10px;
  border: 1px solid #444;
  background-color: #333;
  color: #eee;
  cursor: pointer;
}

#bus-list {
  list-style-type: none;
  padding: 0;
}

#bus-list li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #444;
}

#bus-list li:hover {
  background-color: #444;
}

#bus-stop-list {
  list-style-type: none;
  padding: 0;
}

#bus-stop-list li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #444;
}

#bus-stop-list li:hover {
  background-color: #444;
}

#map {
  flex-grow: 1;
  height: 100vh;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

#update-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #555;
  display: inline-block;
  margin-left: 10px;
}

#update-indicator.loading {
  background-color: #28a745;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.bus-icon.highlight {
  background-color: #ffc107; /* yellow */
}

.bus-icon {
  background-color: #337ab7;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 1;
  transition: transform 3s ease-out; /* Added for smooth sliding */
}

.bus-icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.size-20 {
  width: 20px;
  height: 20px;
}

.size-32 {
  width: 32px;
  height: 32px;
}

.size-48 {
  width: 48px;
  height: 48px;
}

.bus-stop-icon {
  background-color: #dc3545; /* red */
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 1;
}

.bus-stop-icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bus-stop-icon.highlight {
  background-color: #ffc107; /* yellow */
}